## Importing the libraries

In [1]:
import numpy as np
import pandas as pd

## Importing the dataset

In [10]:
data1 = pd.read_csv("data/new-jobs/03-7-28-22/new_jobs-7-28-22.csv")
data2 = pd.read_csv("data/new-educations/03-8-11-22/new_educations-7-8-22_3.csv")

## Merging 2 series

In [16]:
final_series = pd.concat([data1, data2], ignore_index=True)
final_series

,Unnamed: 0,Profile URL,Full Name,Experiences,Educations,Skills
0,0,https://www.linkedin.com/in/evelio-sosa/,Evelio Sosa,[],"[{'university': 'Texas A&amp;M University', 'm...","['HTML5', 'Cascading Style Sheets (CSS)', 'Pyt..."
1,1,https://www.linkedin.com/in/jyothi-vutukuri-a9...,Jyothi Vutukuri,"[{'name': 'devops engineer', 'place': 'IBM · F...",[{'university': 'Jawaharlal Nehru Technologica...,"['Jenkins', 'Ansible', 'Git', 'AWS', 'Linux', ..."
2,2,https://www.linkedin.com/in/swarnava-basu/,Swarnava Basu,"[{'name': 'devops engineer', 'place': 'Codelog...",[{'university': 'Meghnad Saha Institute Of Tec...,"['Microsoft Azure', 'Amazon Web Services (AWS)..."
3,3,https://www.linkedin.com/in/adhiradeogade/,Adhira Deogade,"[{'name': 'devops engineer', 'place': 'apple ·...",[],"['Machine Learning', 'Python (Programming Lang..."
4,4,https://www.linkedin.com/in/vikeshyadav/,Vikesh .,"[{'name': 'devops engineer', 'place': 'Google ...",[{'university': 'Maharshi Dayanand University'...,"['Amazon Web Services (AWS)', 'DevOps', 'Linux..."
...,...,...,...,...,...,...
631,30,https://www.linkedin.com/in/oleg-59866244/,Oleg T,"[{'name': 'data engineer', 'place': 'Amazon We...","[{'university': 'George Mason University', 'ma...","['Public Speaking', 'Business Development', 'R..."
632,31,https://www.linkedin.com/in/allaghtavleen/,Tavleen Allagh,"[{'name': 'data engineer', 'place': 'Amazon We...",[{'university': 'Syracuse University School of...,"['Microsoft Office', 'Microsoft Excel', 'SQL',..."
633,32,https://www.linkedin.com/in/manu-s-mathew001/,Manu Mathew,"[{'name': 'data engineer', 'place': 'Amazon We...",[{'university': 'Cochin University of Science ...,"['PL/SQL', 'Python', 'Technical Leadership', '..."
634,33,https://www.linkedin.com/in/ankit-gadawe-33482...,Ankit Gadawe,"[{'name': 'data engineer', 'place': 'Amazon We...",[{'university': 'University of South Florida M...,"['Python (Programming Language)', 'Machine Lea..."
635,34,https://www.linkedin.com/in/akhil--chaudhary/,Akhil Chaudhary,[],"[{'university': 'Amity University', 'major': '...","['Microsoft Excel', 'Microsoft Word', 'Microso..."

In [17]:
del final_series["Unnamed: 0"]

In [18]:
final_series

,Profile URL,Full Name,Experiences,Educations,Skills
0,https://www.linkedin.com/in/evelio-sosa/,Evelio Sosa,[],"[{'university': 'Texas A&amp;M University', 'm...","['HTML5', 'Cascading Style Sheets (CSS)', 'Pyt..."
1,https://www.linkedin.com/in/jyothi-vutukuri-a9...,Jyothi Vutukuri,"[{'name': 'devops engineer', 'place': 'IBM · F...",[{'university': 'Jawaharlal Nehru Technologica...,"['Jenkins', 'Ansible', 'Git', 'AWS', 'Linux', ..."
2,https://www.linkedin.com/in/swarnava-basu/,Swarnava Basu,"[{'name': 'devops engineer', 'place': 'Codelog...",[{'university': 'Meghnad Saha Institute Of Tec...,"['Microsoft Azure', 'Amazon Web Services (AWS)..."
3,https://www.linkedin.com/in/adhiradeogade/,Adhira Deogade,"[{'name': 'devops engineer', 'place': 'apple ·...",[],"['Machine Learning', 'Python (Programming Lang..."
4,https://www.linkedin.com/in/vikeshyadav/,Vikesh .,"[{'name': 'devops engineer', 'place': 'Google ...",[{'university': 'Maharshi Dayanand University'...,"['Amazon Web Services (AWS)', 'DevOps', 'Linux..."
...,...,...,...,...,...
631,https://www.linkedin.com/in/oleg-59866244/,Oleg T,"[{'name': 'data engineer', 'place': 'Amazon We...","[{'university': 'George Mason University', 'ma...","['Public Speaking', 'Business Development', 'R..."
632,https://www.linkedin.com/in/allaghtavleen/,Tavleen Allagh,"[{'name': 'data engineer', 'place': 'Amazon We...",[{'university': 'Syracuse University School of...,"['Microsoft Office', 'Microsoft Excel', 'SQL',..."
633,https://www.linkedin.com/in/manu-s-mathew001/,Manu Mathew,"[{'name': 'data engineer', 'place': 'Amazon We...",[{'university': 'Cochin University of Science ...,"['PL/SQL', 'Python', 'Technical Leadership', '..."
634,https://www.linkedin.com/in/ankit-gadawe-33482...,Ankit Gadawe,"[{'name': 'data engineer', 'place': 'Amazon We...",[{'university': 'University of South Florida M...,"['Python (Programming Language)', 'Machine Lea..."
635,https://www.linkedin.com/in/akhil--chaudhary/,Akhil Chaudhary,[],"[{'university': 'Amity University', 'major': '...","['Microsoft Excel', 'Microsoft Word', 'Microso..."

## Export to file

In [19]:
final_series.to_csv("Data/datasets/data.csv")