# Data Preprocessing

## Importing the Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importing the Data

In [3]:
data = pd.read_json('Data/Clean_Data.json')
data.head()

,Profile URL,Full Name,Experiences,Educations,Skills
0,https://www.linkedin.com/in/evelio-sosa/,Evelio Sosa,"[{'name': '', 'place': ''}, {'name': '', 'plac...","[{'university': 'Texas A&amp;M University', 'm...","[HTML5, Cascading Style Sheets (CSS), Python (..."
1,https://www.linkedin.com/in/jyothi-vutukuri-a9...,Jyothi Vutukuri,"[{'name': 'Cloud and DevOps Engineer', 'place'...",[{'university': 'Jawaharlal Nehru Technologica...,"[Jenkins, Ansible, Git, AWS, Linux, Maven, She..."
2,https://www.linkedin.com/in/swarnava-basu/,Swarnava Basu,"[{'name': 'DevOps Engineer', 'place': 'Codelog...",[{'university': 'Meghnad Saha Institute Of Tec...,"[Microsoft Azure, Amazon Web Services (AWS), G..."
3,https://www.linkedin.com/in/adhiradeogade/,Adhira Deogade,"[{'name': 'DevOps Engineer', 'place': 'apple ·...",[],"[Machine Learning, Python (Programming Languag..."
4,https://www.linkedin.com/in/vikeshyadav/,Vikesh .,"[{'name': 'DevOps Engineer | SRE', 'place': 'G...",[{'university': 'Maharshi Dayanand University'...,"[Amazon Web Services (AWS), DevOps, Linux Syst..."

## Removing Empty Experiences

In [4]:
experiences = np.array(data.iloc[:, 2:3].values)
new_experiences = []
for experience in experiences:
    new_experience = []
    for item in experience[0]:
        if item['name'] != "" and item['place'] != "":
            new_experience.append(item)
    new_experiences.append(np.array(new_experience))

## Removing Empty Educations

In [5]:
educations = np.array(data.iloc[:, 3:4].values)
new_educations = []
for education in educations:
    new_education = []
    for item in education[0]:
        if item['university'] != "" and item['major'] != "":
            new_education.append(item)
    new_educations.append(np.array(new_education))

## Replacing the New Experiences and Educations

In [6]:
data["Experiences"] = new_experiences
data["Educations"] = new_educations

In [7]:
data.head(10)

,Profile URL,Full Name,Experiences,Educations,Skills
0,https://www.linkedin.com/in/evelio-sosa/,Evelio Sosa,[],"[{'university': 'Texas A&amp;M University', 'm...","[HTML5, Cascading Style Sheets (CSS), Python (..."
1,https://www.linkedin.com/in/jyothi-vutukuri-a9...,Jyothi Vutukuri,"[{'name': 'Cloud and DevOps Engineer', 'place'...",[{'university': 'Jawaharlal Nehru Technologica...,"[Jenkins, Ansible, Git, AWS, Linux, Maven, She..."
2,https://www.linkedin.com/in/swarnava-basu/,Swarnava Basu,"[{'name': 'DevOps Engineer', 'place': 'Codelog...",[{'university': 'Meghnad Saha Institute Of Tec...,"[Microsoft Azure, Amazon Web Services (AWS), G..."
3,https://www.linkedin.com/in/adhiradeogade/,Adhira Deogade,"[{'name': 'DevOps Engineer', 'place': 'apple ·...",[],"[Machine Learning, Python (Programming Languag..."
4,https://www.linkedin.com/in/vikeshyadav/,Vikesh .,"[{'name': 'DevOps Engineer | SRE', 'place': 'G...",[{'university': 'Maharshi Dayanand University'...,"[Amazon Web Services (AWS), DevOps, Linux Syst..."
5,https://www.linkedin.com/in/krishnaghatti/,Sri Krishna G,"[{'name': 'DevOps Engineer', 'place': 'Apple ·...","[{'university': 'GEC', 'major': 'Bachelor's de...","[Linux, Unix, DNS, Data Center, VMware, VMware..."
6,https://www.linkedin.com/in/razvan-streuneanu-...,Razvan Streuneanu,"[{'name': 'Cashier Assistant', 'place': 'Carre...","[{'university': 'Liceul Teoretic ""Emil Bota"" A...","[Computer Hardware, Internet Protocol Suite (T..."
7,https://www.linkedin.com/in/priyamanghnani/,Priya Manghnani,[{'name': 'Cloud DevOps Engineer at Apple Pay'...,[{'university': 'University of Cincinnati Carl...,"[DevOps, Docker, Linux, Amazon Web Services (A..."
8,https://www.linkedin.com/in/loki3/,Lokendra Singh Panwar,"[{'name': 'DevOps Engineer', 'place': 'Google ...","[{'university': 'SRM University', 'major': 'Ba...","[Linux, Kubernetes, Docker, Shell Scripting, S..."
9,https://www.linkedin.com/in/analsurti/,Anal Surti,"[{'name': 'DevOps Engineer', 'place': 'Apple ·...","[{'university': 'San Diego State University', ...","[Python, Git, Jenkins, Web Development, GitHub..."

## Exporting the clean data to file

In [9]:
data.to_json('Data/clean_data_prime-7-6-22.json')